.DefilProj {
    text-align: center; // Centrer le texte et les éléments
  
    h3 {
      font-size: 24px; // Taille de la police pour le titre
      color: #1abc9c; // Couleur du texte pour le titre
      margin-bottom: 20px; // Marge inférieure pour espacer le titre du slideshow
      font-family: 'Arial', sans-serif; // Police du titre
    };
  }